---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getEntryBySlug } from 'astro:content';
const { slug } = Astro.params;
const post = await getEntryBySlug('posts', slug);
---
<BaseLayout pageTitle={post.data.title} pageDescription={post.data.title}>
  <h1>{post.data.title}</h1>
  <p><small>{post.data.date}</small></p>
  <article>
    {post.body}
  </article>
</BaseLayout>